<ng-scrollbar class="scroll">
  <div class="list-books" *ngIf="booksService.response">
    <div
      class="list-books__item list-books-item"
      *ngFor="let book of booksService.response.docs"
      (click)="openDialog(book)"
    >
      <img
        #img
        *ngIf="book.cover_i"
        [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'"
        (load)="onImageload($event)"
        alt=""
      />
      <div class="list-books-item-content">
        <div><b>Title:</b>&nbsp;{{ book.title }}</div>
        <div><b>Author:</b>&nbsp;{{ book.author_name }}</div>
      </div>
    </div>
    <app-no-data
      [title]="'NO RESULTS'"
      [imgName]="'no-matches'"
      [subTitle]="'Try to change your request'"
      *ngIf="!booksService.response.docs.length && !booksService.loader"
    ></app-no-data>
  </div>
  <app-no-data
    *ngIf="!booksService.response && !booksService.loader"
  ></app-no-data>
  <app-loader *ngIf="booksService.loader"></app-loader>
</ng-scrollbar>
