:host {
  display: block;
  width: 100%;
}

.no-data {
  width: 510px;
  height: 308px;
  margin: 56px auto 100px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__title {
    color: #323563;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__text {
    color: #545454;
    margin-bottom: 41px;
  }

}
