<div class="book-dialog">
  <div class="book-dialog__header book-dialog-header">
    <div
      class="book-dialog-header__title book-dialog-header-title"
      mat-dialog-title
    >
      <!-- TITLE books -->
      {{ data.title }}
    </div>
    <div class="close-container" mat-dialog-close>
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="book-dialog-content">
      <div class="book-dialog-content-wrapper">
        <div class="book-dialog-content-img" *ngIf="data.isbn">
          <img
            [src]="pathImg + 'b/' + 'isbn/' + data.isbn[0] + '-L.jpg'"
            alt=""
          />
        </div>

        <div class="book-dialog-content-text">
          <div *ngIf="data.author_name">
            <b>Author:</b>{{ data.author_name }}
          </div>
          <div class="book-dialog-content-text__item" *ngIf="data.publish_year">
            <b>Publication date:</b>{{ data.publish_year }}
          </div>
          <div class="book-dialog-content-text__item" *ngIf="data.isbn">
            <b>ISBN:</b>{{ data.isbn }}
          </div>

          <!-- <div class="book-dialog-content-text__item">
            <b>Author:</b>TOLKIEN
          </div>
          <div class="book-dialog-content-text__item">
            <b>Publication date:</b>DATA
          </div>
          <div class="book-dialog-content-text__item"><b>ISBN:</b>123456</div> -->
        </div>
      </div>
      <div class="book-dialog-content-footer" *ngIf="false">
        <mat-dialog-actions>
          <button class="btn" mat-dialog-close>
            <span class="noselect">Close</span>
            <div class="circle"></div>
          </button>
        </mat-dialog-actions>
      </div>
    </div>
  </mat-dialog-content>
</div>
