/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
  outline: 0 !important;
}

html,
body {
  height: 100%;

}

body {
  background-image: url('../src/assets/images/bg.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 16px;
}

div textarea.mat-input-element {
  resize: none;
}

@media screen and (min-width: 1024px) {
  body {
    .layout {
      max-width: 992px;
      width: 100%;
    }

    .list-books-item {
      width: calc(33% - 8px);
      height: 250px;
      margin-right: 16px;
      margin-bottom: 16px;

      &:nth-child(2n) {
        margin-right: 16px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    .sceleton-wrapper {
      &__item {
        width: calc(33% - 8px);
        margin-right: 16px;
      }
    }

  }
}

@media screen and (min-width: 1280px) {
  body {
    .layout {
      max-width: 1248px;
      width: 100%;
    }

    .list-books-item {
      width: calc(25% - 12px);
      height: 250px;
      margin-right: 16px;
      margin-bottom: 16px;

      &:nth-child(2n) {
        margin-right: 16px;
      }

      &:nth-child(3n) {
        margin-right: 16px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    .sceleton-wrapper {
      &__item {
        width: calc(25% - 12px);
        margin-right: 16px;
      }
    }
  }
}
